<% include ../partials/header %>

<h1 class="margin-top-and-bottom">Edit your blog</h1>

<form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
	
	<label>Blog title</label>
	<input class="block" type="text" name="blog[title]" value="<%= blog.title %>" placeholder="Title of your blog" autofocus>
	<p></p>
	
	<label>Description</label>
	<input class="block" type="text" name="blog[description]" value="<%= blog.description %>" placeholder="Quick teaser for your blog content">

	<label>Image</label>
	<input class="block" type="text" name="blog[image]" value="<%= blog.image %>" placeholder="Paste image URL here">

	<label>Content</label>
	<textarea  class="block large-text-box" name="blog[content]" placeholder="Write your blog here"><%= blog.content %></textarea>
	
	<button>Update your blog!</button>

</form>

<% include ../partials/footer %>
