<% include ../partials/header %>

	<header class="blog-header-group blog-index-header">
		<h1 class="blog-index-h1">1207 Blog</h1>
		<form class="blog-index-search" action="/blogs" method="GET">
			<input class="blog-index-input" type="text" name="search" placeholder ="Search blogs...">
			<button class="blog-index-input-button">Go</button>
		</form>
		<a class="blog-index-newButton" href="/blogs/new">Write a new blog</a>
	</header>
		<% if (noMatch !== null) { %>
		<span><%= noMatch %></span>
		<% } %>
	<section class="cards">


		<% blogs.forEach(blog => {%>
		<div class="flex_blog_card bg1">						
			<div class="flex_blog_card_picture">
				<a href="/blogs/<%= blog._id %>" class="blog-image-center"><img class="blog-image" src="<%= blog.image %>"></a>
			</div>
			<div class="flex-blog-card-text">
				<a href="/blogs/<%= blog._id %>"><h3><%=blog.title%></h3></a>
				<p><%=blog.description%></p>
				<p>- <%=blog.created.toDateString()%></p>

			</div>			
		</div>
		<% }); %>	

	</section>
<% include ../partials/footer %>





