<% include ../partials/header %>

	<div style="margin: 10px">
		<h3><%=blog.title%></h3>
		<p><%= blog.description %></p>
		<img style="max-width: 100%; float:left" src="<%= blog.image %>"><br>
		<p><%=blog.content%></p>
		<p><em>Written by: <a href="/users/<%= blog.author.id %>"><%=blog.author.username%></a></em></p>
		<p>
			<a href="/blogs">Return to all blogs</a>
		</p>
		<% blog.comments.forEach(function(comment) {%>
			<div>
				<p style="display:inline"><strong><a href="/users/<%= comment.author.id %>"><%=comment.author.username%></a></strong> - "<%=comment.text%>"</p>
				<% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
					<a style="display:inline" href="/blogs/<%=blog._id%>/comments/<%=comment._id%>/edit"><button>Edit comment</button></a>
					<form style="display:inline" action="/blogs/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
						<button>Delete comment</button>
					</form>
					<p></p>
				<% } %>	
			</div>
		<% }); %>	
	</div>

	<a href="/blogs/<%=blog._id%>/comments/new"><button>Write Comment</button></a>
	<br>
		<% if (currentUser && blog.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
			<a href="/blogs/<%=blog._id%>/edit"><button>Edit blog</button></a>
			<form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button>Delete blog</button>
			</form>
		<% } %>
	
<% include ../partials/footer %>

 