<% include ../partials/header %>

		<div class="blog-header-group blog-show-header">
			<h1 class="blog-show-title"><%=blog.title%></h1>
		</div>
		<div class="blog-show-header">
			<p class="blog-show-descrip"><%= blog.description %></p>
			<p class="blog-show-header">
				<em>Written by 
					<a href="/users/<%= blog.author.id %>"><%=blog.author.username%>
					</a>
				</em>
			</p>
		</div>	

		<div class="blog-show-blogContainer">
			<img class="blog-image blog-show-image" src="<%= blog.image %>">
			<p class="blog-show-content" >
				<%=blog.content%>
			</p>
		</div>
		<p class="blog-show-para-endBorder"> </p>


		<p>Do you want to leave a comment?</p>
	<a href="/blogs/<%=blog._id%>/comments/new"><button class="inline-button">Write Comment</button></a>
	<p>--------</p>
		<% blog.comments.forEach(function(comment) {%>
			<div>
				<p class="blog-show-writtenBy"><strong><a href="/users/<%= comment.author.id %>"><%=comment.author.username%></a></strong> - "<%=comment.text%>"</p>
				<% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
					<a class="blog-show-button blog-show-button-edit" href="/blogs/<%=blog._id%>/comments/<%=comment._id%>/edit"><button class="inline-button">Edit comment</button></a>
					<form class="inline-button blog-show-button blog-show-button-delete" action="/blogs/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
						<button class="inline-button">Delete comment</button>
					</form>
					<p></p>
				<% } %>	
			</div>
		<p>--------</p>
		<% }); %>

	<p>Do you want to edit your blog?</p>
		<% if (currentUser && blog.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
			<a href="/blogs/<%=blog._id%>/edit"><button class="inline-button">Edit blog</button></a>
			<form class="inline-button" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button class="inline-button">Delete blog</button>
			</form>
		<% } %>

		<p>
			<a href="/blogs">Return to all blogs</a>
		</p>


	
<% include ../partials/footer %>

 