<% include ../partials/header %>

	<div class="blog-show-supercontainer">
		<div class="blog-header-group blog-show-header">
			<h1 class="blog-show-title"><%=blog.title%></h1>
		</div>
		<div class="blog-show-header">
			<p class="blog-show-descrip"><%= blog.description %></p>
		</div>	

		<div class="blog-show-blogContainer">
			<img class="blog-image blog-show-image" src="<%= blog.image %>">
			<p class="blog-show-content" >
				<%=blog.content%>
			</p>
		</div>

			<p><em>Written by: <a href="/users/<%= blog.author.id %>"><%=blog.author.username%></a></em></p>
			<p>
				<a href="/blogs">Return to all blogs</a>
			</p>
			<% blog.comments.forEach(function(comment) {%>
				<div>
					<p class="blog-show-writtenBy"><strong><a href="/users/<%= comment.author.id %>"><%=comment.author.username%></a></strong> - "<%=comment.text%>"</p>
					<% if (currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
						<a class="blog-show-button blog-show-button-edit" href="/blogs/<%=blog._id%>/comments/<%=comment._id%>/edit"><button>Edit comment</button></a>
						<form class="blog-show-button blog-show-button-delete" action="/blogs/<%=blog._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
							<button>Delete comment</button>
						</form>
						<p></p>
					<% } %>	
				</div>
			<% }); %>
	</div>

	<a href="/blogs/<%=blog._id%>/comments/new"><button>Write Comment</button></a>
	<br>
		<% if (currentUser && blog.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){%>
			<a href="/blogs/<%=blog._id%>/edit"><button>Edit blog</button></a>
			<form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
				<button>Delete blog</button>
			</form>
		<% } %>

	<div id="map"></div>

    <script>
      function initMap() {
 	    var lat = 34.3852;
 	    var lng = 132.4553;
        var hiroshima = {lat: lat, lng: lng};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: hiroshima,
        });
        var marker = new google.maps.Marker({
          position: hiroshima,
          map: map
        });
      }
    </script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADYvh9oxcf_X8GG1-9XFZx1XV0tL25NEk&callback=initMap"></script>
	
<% include ../partials/footer %>

 