<% include ../partials/header %>

	<div class="user-show">
		<div class="user-show-details">
			<h1 class="user-show-profile-items">User profile: <%= user.username %></h1>
			<p class="user-show-profile-items">First name: <%= user.firstName %></p>
			<p class="user-show-profile-items">Last: <%= user.lastName %></p>
			<p class="user-show-profile-items">Email: <%= user.email %></p>
		</div>
		<div class="user-show-image">
			<img src="<%= user.avatar %>">
		</div>

	</div>
	<h2 class="user-show-otherBlogs">Blogs by <%= user.username%>:</h2>
	<section class="cards">


		<% blogs.forEach(blog => {%>
		<div class="flex_blog_card bg1">						
			<div class="flex_blog_card_picture">
				<a href="/blogs/<%= blog._id %>" class="blog-image-center"><img class="blog-image" src="<%= blog.image %>"></a>
			</div>
			<div class="flex-blog-card-text">
				<a href="/blogs/<%= blog._id %>"><h3><%=blog.title%></h3></a>
				<p><%=blog.description%></p>
				<p>- <%=blog.created.toDateString()%></p>

			</div>			
		</div>
		<% }); %>	

	</section>

	
<% include ../partials/footer %>

 